# Directories
.vs/
Brain-Matrix-Test/bin/
Brain-Matrix-Test/bin-int/

#Files
Brain-Matrix/*.user
Brain-Matrix-Test/*.user
*.sln
Brain-Matrix/*.vcxproj
Brain-Matrix-Test/*.vcxproj
Brain-Matrix/*.filters
Brain-Matrix-Test/*.filters